.dataTable {
  height: 600px;
  padding: 20px;

  .cellWithImg {
    display: flex;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
      margin-top: 8px;
    }
  }

  .cellWithStatus {
    padding: 1px;
    margin-bottom: 3px;
    height: 35px;
    position: relative;
    top: 6px;
    border-radius: 8px;

    span {
      position: absolute;
      top: -6px;
      left: 7px;
    }

    &.active {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.pending {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
    &.passive {
      background-color: rgba(255, 0, 0, 0.05);
      color: crimson;
    }
  }

  .cellAction {
    display: flex;
    gap: 20px;
    align-items: center;

    .viewButton {
      color: darkblue;
      font-weight: 500;
      cursor: pointer;
    }

    .deleteButton {
      color: crimson;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
